<div class="top-section-navigation">
  <h2>Team: <%= @team.name %></h2>
  <form action="/teams/<%= @team.id %>/delete" method="post">
    <input type="checkbox" name="confirmation" value="Delete Team" required="required">
    <input type="submit" name="Delete" value="Delete Team">
  </form>
  <a href="/teams/<%= @team.id %>/edit">Edit Team</a>
</div>

<hr>

<div class="league_standing">
  <p>League Position: <%= @team.get_league_position() %> </p>
</div>

<hr>

<div class="team-details">
  <p>Total Wins: <%= @team.get_wins_count() %> </p>
  <p>Total Losses: <%= @team.get_losses_count() %> </p>
  <p>Goals Scored: <%= @team.get_total_goals_scored() %> </p>
  <p>Goals Conceded: <%= @team.get_total_goals_conceded() %> </p>
</div>

<hr>

<div class="goal-data">
  <p>Scored against <% opponent_team = @team.get_opponent_scored_against_most %><%= opponent_team.name  %> the most</p>
  <p>Goals scored against other teams:</p>
  <% for opponent in @teams %>
    <% if opponent.id != @team.id %>
      <p><%= opponent.name %> : <%= @team.get_total_goals_scored_against(opponent) %></p>
    <% end %>
  <% end %>
  <hr>
  <p>Conceded against <% opponent_team = @team.get_opponent_conceded_against_most %><%= opponent_team.name  %> the most</p>
  <p>Goals conceded against other teams:</p>
  <% for opponent in @teams %>
    <% if opponent.id != @team.id %>
      <p><%= opponent.name %> : <%= @team.get_total_goals_conceded_against(opponent) %></p>
    <% end %>
  <% end %>
</div>

<hr>

<div class="game-data">
  <p>Won against <% opponent_team = @team.get_opponent_won_against_most %><%= opponent_team.name  %> the most</p>
  <p>Wins against other teams:</p>
  <% for opponent in @teams %>
    <% if opponent.id != @team.id %>
      <p><%= opponent.name %> : <%= @team.get_wins_against_opponent(opponent) %></p>
    <% end %>
  <% end %>
  <hr>
  <p>Lost against <% opponent_team = @team.get_opponent_lost_against_most %><%= opponent_team.name  %> the most</p>
  <p>Losses against other teams:</p>
  <% for opponent in @teams %>
    <% if opponent.id != @team.id %>
      <p><%= opponent.name %> : <%= @team.get_losses_against_opponent(opponent) %></p>
    <% end %>
  <% end %>
</div>

<hr>

<div class="list-games">
  <p>All games played in:</p>
  <% for game in @team.games() %>
    <% if game.team1_id || game.team2_id == @team.id %>
      <p><a href="/games/<%= game.id %>"><%= game.team1().name %> VS <%= game.team2().name %></a></p>
    <% end %>
  <% end %>
</div>

<hr>
