<p>Team Name: <%= @team.name  %></p>

<a href="/teams/<%= @team.id %>/edit">Edit Team</a>

<form action="/teams/<%= @team.id  %>/delete" method="post"> <input type="submit" name="Delete" value="Delete Team">
</form>

<hr>

<p><%= @team.get_wins() %></p>

<% for game in @games  %>
<p> <%= game.outcome  %> </p>
<% end  %>
