<h1>Bloodbowl League Tracker</h1>

<hr>

<div class="league-table">
  <% for team in @sorted_teams_wins_then_goals %>
    <p>Position <%= @sorted_teams_wins_then_goals.find_index(team) + 1 %> : <a href="/teams/<%= team.id  %>"><%= team.name %></a> <%= team.get_wins_count() %>pt(s) <%= team.get_goal_difference() %>gd</p>
  <% end %>
</div>

<hr>
