<p>Team 1 ID: <%= @game.team1_id %> </p>
<p>Team 2 ID: <%= @game.team2_id %> </p>
<p>Team 1 Score: <%= @game.team1_score %> </p>
<p>Team 2 Score: <%= @game.team2_score %> </p>

<a href="/games/<%= @game.id %>/edit">Edit Game</a>

<form action="/games/<%= @game.id  %>/delete" method="post"> <input type="submit" name="Delete" value="Delete Game">
</form>

<hr>

<p><%= @game.team1().name  %></p>
<p><%= @game.team2().name  %></p>
<p><%= @game.get_outcome().name  %></p>
