<p><%= @game.team1().name %> <%= @game.team1_score %> - <%= @game.team2_score %> <%= @game.team2().name %> </p>
<p><%= @game.date_of_game %></p>
<p><%= @game.get_winner().name  %> Win!</p>

<a href="/games/<%= @game.id %>/edit">Edit Game</a>

<form action="/games/<%= @game.id  %>/delete" method="post"> <input type="submit" name="Delete" value="Delete Game">
</form>

<hr>
